* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: LatoRegular;
  src: url("./asset/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: LatoBold;
  src: url("./asset/fonts/Lato-Bold.ttf");
}

h1 {
  font-family: LatoBold;
}

p {
  line-height: 26px;
}

.text_center {
  text-align: center;
}

.dflex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search_input {
  background-color: inherit;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  color: white;
  width: 100%;
}

a {
  font-size: 0.8em;
  color: #006DFE;
}

button {
  background: #1B7DFF;
  border: none;
  padding: 9px;
  border-radius: 5px;
  margin: 10px 0;

  a {
    color: #fff;
  }

  &:hover {
    background: #1461c5;
  }
}

.flex {
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: LatoRegular;
  font-size: 18px;
  .hero {
    background-image: url("./asset/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 30px 10px;

    .container {
      width: 95%;
      margin: 0 auto;

      .flex {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        .logo {
          img {
            width: 60px;
          }
        }

        nav {
          .menu {
            width: 23px;
            position: fixed;
            top: 30px;
            right: 20px;
            z-index: 20;
          }

          ul {
            display: none;
            background-color: white;
            text-align: center;
            padding: 10px;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 40px;
            left: 0;

            li {
              a {
                display: block;
                padding: 10px;
                color: black;

                &:hover {
                  background-color: black;
                  color: white;
                }
              }
            }
          }
        }
      }

      .search {
        display: flex;
        flex-direction: column;

        .box2 {
          margin: 20px 0;
        }
      }

    }
  }

  .section1 {
    width: 90%;
    margin: 0 auto;

    .section1_wrapper {
      display: flex;
      flex-direction: column;

      div {
        margin: 30px 0;

        a {
          font-size: 0.8em;
          color: #006DFE;
        }
      }
    }
  }

  .section2 {
    .container {
      .box1 {
        margin-bottom: 20px;
      }

      .trip {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-row-gap: 15px;

        div {
          position: relative;

          .thumb {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 0 8px;
            color: #fff;
            display: flex;
            align-items: flex-end;
          }

          &:nth-child(1) {
            grid-column: 1 / 13;
          }

          &:nth-child(2) {
            grid-column: 1 / 13;
          }

          &:nth-child(3) {
            grid-column: 1 / 13;
          }

          &:nth-child(4) {
            grid-column: 1 / 13;
          }

          &:nth-child(5) {
            grid-column: 1 / 13;
          }
        }

      }
    }
  }

  .section3 {
    .container {
      margin-top: 30px;
    }
  }

  .section4 {
    .container {
      .visit {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-row-gap: 15px;

        div {
          &:nth-child(1) {
            grid-column: 1 / 13;
          }

          &:nth-child(2) {
            grid-column: 1 / 13;
          }

          &:nth-child(3) {
            grid-column: 1 / 13;
          }

          &:nth-child(4) {
            grid-column: 1 / 13;
          }

          &:nth-child(5) {
            grid-column: 1 / 13;
          }

          &:nth-child(6) {
            grid-column: 1 / 13;
          }

          .thumb_wrapper {
            position: relative;

            &>img {
              width: 100%;
            }

            .thumb2 {
              color: #fff;
              width: 100%;
              height: 100%;
              position: absolute;
              bottom: 0;
              left: 0;
              display: flex;
              align-items: flex-end;

              p {
                margin: 0;
                padding-top: 5px;
              }

              .message {
                width: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                height: 40px;
                padding: 0 10px;
                padding-bottom: 10px;
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }
      }
    }
  }

  .video {
    position: relative;
    margin-top: 30px;

    .thumb2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);

      img {
        width: 10%;
      }
    }
  }

  footer {
    background-color: #0E1D28;
    color: white;

    .container {
      .box1 {
        text-align: center;
        padding: 20px;
      }

      .box2 {
        display: flex;
        justify-content: space-around;

        div {
          padding: 10px 0;

          a {
            display: block;
            color: white;
            font-size: 00.8em;
            line-height: 28px;
          }
        }
      }
    }
  }
}

@media (min-width: 770px) {
  p {
    line-height: 26px;
  }

  a {
    font-size: 0.8em;
    color: #006DFE;
  }


  .flex {
    flex-direction: row;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  body {
    font-size: 18px;

    .hero {
      padding: 30px 10px;
      height: 100vh;

      .container {
        width: 90%;

        .flex {
          nav {
            .menu {
              display: none;
            }

            ul {
              display: flex;
              background-color: initial;
              padding: 0px;
              margin: 0;
              position: sticky;

              li {
                a {

                  padding: 0 10px;
                  color: white;

                  &:hover {
                    background-color: white;
                    color: black;
                  }
                }
              }
            }
          }

        }

        .hero_text {
          width: 70%;
          // padding-top: 20vh;
        }

        .search {
          flex-direction: row;
          justify-content: space-between;
          padding: 30px 0;

          .box2 {
            margin: 0px;
          }

          div {
            width: 30%;
          }
        }
      }
    }

    .section1 {
      width: 75%;
      margin-top: -15vh;
      background-color: white;
      padding: 20px;

      .section1_wrapper {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        div {
          margin: 40px 0;
          width: 30%;
        }
      }
    }

    .section2 {
      .container {
        .box1 {
          margin-bottom: 20px;
          align-items: center;
          justify-content: space-between;
        }

        .trip {
          grid-row-gap: 5px;
          grid-column-gap: 5px;

          div {
            position: relative;

            img {
              width: 100%;
            }

            &:nth-child(1) {
              grid-column: 1 / 7;
            }

            &:nth-child(2) {
              grid-column: 7 / 13;
            }

            &:nth-child(3) {
              grid-column: 1 / 5;
            }

            &:nth-child(4) {
              grid-column: 5 / 9;
            }

            &:nth-child(5) {
              grid-column: 9 / 13;
            }
          }

        }
      }
    }

    .section3 {
      .container {
        margin-top: 30px;

        .flex {
          align-items: center;

          .spacing {
            padding: 20px;
          }

          img {
            height: 100%;
          }

          div {
            width: 50%;
          }
        }
      }
    }

    .section4 {
      .container {
        .visit {
          grid-column-gap: 15px;
          grid-row-gap: 25px;

          div {
            &:nth-child(1) {
              grid-column: span 4;
            }

            &:nth-child(2) {
              grid-column: span 4;
            }

            &:nth-child(3) {
              grid-column: span 4;
            }

            &:nth-child(4) {
              grid-column: span 4;
            }

            &:nth-child(5) {
              grid-column: span 4;
            }

            &:nth-child(6) {
              grid-column: span 4;
            }

          }
        }
      }
    }

    .video {
      position: relative;
      margin-top: 30px;

      &>img {
        width: 100%;
      }
    }

    footer {

      .container {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 40px 20px;

        .box1 {
          padding: 20px;
          width: 40%;
        }

        .box2 {
          width: 60%;

          div {
            padding: 5px 0;

          }
        }
      }
    }
  }


}

@media (min-width: 1400px) {

  .container {
    max-width: 1400;
  }

  body {

    .hero {
      height: 80vh;

      .container {
        max-width: 1400;

        .hero_text {
          width: 70%;
        }

      }
    }

    .section1 {
      max-width: 1400px;
      margin-top: -15vh;

    }

    .video {
      max-width: 1400px;
    }

    footer {

      .container {
        max-width: 1400px;
      }
    }
  }


}